<div class="container">
  <h1>Music Library</h1>
  <div class="search-container">
    <input type="text" placeholder="Search a Band/Album/Song" [(ngModel)]="searchQuery" (input)="onSearch($event)" class="search-box" />
    <div class="suggestions" *ngIf="showSuggestions">
      <ul>
        <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">{{ suggestion }}</li>
      </ul>
    </div>
  </div>
  <div class="bands-container">
    <ng-container *ngFor="let band of filteredBands; let bandIndex = index">
      <div class="band-box">
        <h2>{{ band.name }}</h2>
        <div *ngFor="let album of band.albums; let albumIndex = index">
          <div (click)="toggleAlbum(bandIndex, albumIndex)" class="album-name" style="cursor: pointer; display: flex; align-items: center;">
            <h3 style="margin-right: 5px;">{{ album.title }}</h3>
            <div [class]="isAlbumOpened(bandIndex, albumIndex) ? 'triangle-down' : 'triangle-right'"></div>
          </div>
        </div>
      </div>

      <!-- Add a details container after every row of 3 band boxes or at the end of the bands list -->
      <ng-container *ngIf="(bandIndex + 1) % 3 === 0 || bandIndex === filteredBands.length - 1">
        <div class="album-details-container" *ngIf="isAnyAlbumOpenedInRow(bandIndex)">
          <ng-container *ngFor="let b of filteredBands.slice(getRowStart(bandIndex), getRowEnd(bandIndex)); let i = index">
            <ng-container *ngFor="let album of b.albums; let albumIndex = index">
              <div *ngIf="isAlbumOpened(getRowStart(bandIndex) + i, albumIndex)" class="album-details-box show">
                <h3>{{ album.title }}</h3>
                <p>{{ album.description }}</p>
                <ul>
                  <li *ngFor="let song of album.songs">
                    {{ song.title }} - {{ song.length }}
                  </li>
                </ul>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
