<div class="container">
  <h1>Title</h1>
  <div class="bands-container">
    <ng-container *ngFor="let band of bands; let bandIndex = index">
      <div class="band-box">
        <h2>{{ band.name }}</h2>
        <div *ngFor="let album of band.albums; let albumIndex = index">
          <div (click)="toggleAlbum(bandIndex, albumIndex)" class="album-name" style="cursor: pointer; display: flex; align-items: center;">
            <h3 style="margin-right: 5px;">{{ album.title }}</h3>
            <div [class]="isAlbumOpened(bandIndex, albumIndex) ? 'triangle-down' : 'triangle-right'"></div>
          </div>
        </div>
      </div>

      <!-- Add a details container after every third band box -->
      <ng-container *ngIf="(bandIndex + 1) % 3 === 0">
        <ng-container *ngFor="let b of bands.slice(bandIndex - 2, bandIndex + 1); let i = index">
          <ng-container *ngFor="let album of b.albums; let albumIndex = index">
            <div *ngIf="isAlbumOpened(bandIndex - 2 + i, albumIndex)" class="album-details-box show">
              <ul>
                <li *ngFor="let song of album.songs">
                  {{ song.title }} - {{ song.length }}
                </li>
              </ul>
              <p>{{ album.description }}</p>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
